@charset "UTF-8";

@import"reset.css";
@import"cores.css";

@font-face {
    font-family: Lemontea;
    src:url(fonts/Lemontea.ttf)
}
body {
    background-color: var(--dusty-lavender);
    color: var(--white);
    font-family: Lemontea;
}